#services {
  /* height: 600px; */
  margin-bottom: 90px;
}
.offer .flex {
  flex-wrap: wrap;
}
.offer-tag {
  padding: 3px 0px 20px 0;
  text-align: center;
}
.offer-cards {
  width: 300px;
}
.offer img {
  width: 100%;
  height: 280px;
}
.offer .o-info {
  text-align: center;
}

.offer .o-info h3 {
  font-weight: 400;
  opacity: 0.9;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .offer .flex {
    justify-content: center;
  }
  .o-info {
    margin: -10px 0;
  }
  .offer-tag {
    padding-top: 20px;
  }
}
