.footer {
  padding: 30px 0;
  color: #b1b3b8;
  font-weight: 400;
}
.footer a {
  padding-bottom: 0px;
}
.footer hr {
  width: 30%;
  margin: auto;
  border: none;
  border-top: 1px solid #1d283c;
  margin-bottom: 50px;
}
.footer-details {
  text-align: center;
}
.footer-details small {
  display: block;
  font-size: 12px;
}
.footer .flex {
  justify-content: center;
  gap: 10px;
}
