header {
  /* background-color: #141422; */
  background-color: #0e1625;
  color: #dddddd;
  overflow: hidden;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  -webkit-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
header .nav-h {
  height: 108px;
}
header .name a {
  font-size: 11px;
  letter-spacing: 3px;
  color: white;
}
header i {
  font-size: 16px;
}
header a {
  font-size: 13.5px;
  font-weight: bolder;
  font-variant: small-caps;
  letter-spacing: 3px;
  padding-bottom: 5px;
}
.toggle-menu i {
  font-size: 23px;
  opacity: 0.8;
}
.toggle-menu {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .toggle-menu {
    display: block;
  }
}
