.my-skills {
  text-align: center;
}
.my-skills .flex {
  width: 670px;
  margin: auto;
  padding: 45px 0;
  flex-wrap: wrap;
}
.my-skills h2 {
  font-size: 30px;
}
.my-skills img {
  width: 40px;
  height: 40px;
}
.my-skills img:hover {
  cursor: pointer;
}
.lg {
  transition: transform 0.2s ease-in;
  margin-bottom: 12px;
}
.lg:hover {
  transform: translateY(-11px);
  cursor: pointer;
}
.r img {
  width: 60px;
}
@media (max-width: 768px) {
  .my-skills .flex {
    width: 100%;
    justify-content: center;
  }
  .lg {
    width: 110px;
  }
}
