header {
  /* background-color: #141422; */
  background-color: #0e1625;
  color: #dddddd;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}
/* onscroll header style */
.os-header{
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
header .os-nav-h{
  height:66px;
  transition: all .4s ease;
}
/* end */
header .nav-h {
  height: 108px;
}
header .name a {
  font-size: 11px;
  letter-spacing: 3px;
  color: white;
}
header i {
  font-size: 16px;
}
header a {
  font-size: 13.5px;
  font-weight: bolder;
  font-variant: small-caps;
  letter-spacing: 3px;
  padding-bottom: 5px;
}
.toggle-menu .flex {
  flex-direction: column;
  gap: 5px;
}
.toggle-menu span {
  width: 23px;
  background-color: rgb(199, 194, 194);
  height: 1px;
}
.toggle-menu {
  display: none;
}
header .menu .resume .tp {
  background: transparent;
  color: white;
  border: 1px solid #ffffff;

  padding: 4px 17px;
  margin: 0;
  width: auto;
}
header .menu .resume a:hover {
  border-bottom: unset;
}
header .menu .resume .tp:hover {
  background-color: white;
  color: black;
  /* font-weight: 500; */
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .toggle-menu {
    display: block;
  }
}
